# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
__pycache__/

# Django secret key file (if any)
.env

# Local database files
*.sqlite3

# Media uploads (if not meant for version control)
media/

# Static files (if collected manually or automatically)
staticfiles/

# IDE-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
